body{
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

#logo{

	margin-right:40px 40px 40px 40px;
	padding: 5px 5% 5px 5%; 
}

#registration{
	margin-left:100px;
	padding-left: 1000px;


}

#hr-navigation ul {
	list-style-type: none;
	text-align: center;
	margin: 15px;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #d9d9f2;

}

#hr-navigation ul li {
	display: inline-block;
}

#hr-navigation ul li a{
	color: #000d1a;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 150%;
  
}

#fr_navigation {
	background-color:#d9d9f2;
	margin:20px;
	border-radius: 12px;
	color: #000d1a;
	text-align: right;
		
}

#left{
	border-style: double;
    border-width: 5px;
    height:700px;
	margin-top:10px;
	border-radius: 12px;
	border-color:#000033;
}

#search{
	margin-top:20px;
}

#left p{
	color: #000d1a;

	}

#right h2{
	color:#000d1a;
	
}