<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    	<link rel="stylesheet"  type=text/css href="styles.css">
	
	<title> Eternity.com </title>
	</head>
		<body style="background-image: url(Images/Space.jpg);">
			<header>
			<div class="main_container" id="logo">
				<img src="Images/Home.png" alt="Лого">
			</div>
			<div class="main_container" id="registration">
				<input type="text" name="" id="Еmail"  required placeholder="Потребителско име" class="textbox" />
				<input type="password" name="" id="password" required  placeholder="Парола"  class="textbox" /><br>
					<a href="example.html"><ins>Регистрация</ins></a>
      				<a href="example.html"><ins>Забравена парола</ins></a>
      			<p><button class="w3-button w3-black w3-round-large"><a href="example.html">Вход</button></p>
			</div>

			<nav class="main_container" id="hr-navigation">
			<ul>
				<li><a href="home.html">Начало</a></li>
				<li><a href="gallery.html">Галерия</a></li>
				<li><a href="about.html">За Eternity</a></li>
			</ul>
			</header>

			<div class="container">
				<div class="row">
					<div class="col-md-3" id="left">
						<input type="text" name="" id="search"  required placeholder="Търсене" class="textbox" /><br>
						<p><ins>Филтри</ins></p>
						<p>Дата</p>
						<p>Категория</p>
						<p><button class="w3-button w3-black w3-round-large">Търси</button></p>

					</div>

					<div class="col-md-9" id="right">
						<h2><ins><b>Най-скоро качени.</b></ins></h2>
					
					</div>
				</div>
			</div>
		<footer>
			<div class= "bottom_container" id="fr_navigation">
			<ul><a>&copy; Последвайте ни! &copy; </a><ul>
			</div>
		</footer>
		</body>
</html>
						
						
